#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

.dashboard {
  margin: 4rem 6rem;

  &__card {
    text-align: left;
    padding: 0 0.5rem;

    &__text {
      font-weight: 700 !important;
    }

    & > * {
      height: 100%;
    }

    &:last-child {
      padding-right: 0rem;
    }
    &:first-child {
      padding-left: 0rem;
    }

    &--long {
      min-height: 400px;
    }
  }
}